* {
  margin: 0px;
  padding: 0px;
  font-family: Inter;
  box-sizing: border-box;
}
@font-face {
  font-family: Inter;
  src: url("../fonts/Inter.ttf");
}
img {
  width: 100%;
}
.text-h2-center {
  color: rgba(142, 164, 188, 1);
  margin: 20px 0px;
  text-align: center;
}
.text-h2 {
  color: rgba(142, 164, 188, 1);
  margin: 20px 0px;
}
.text-h4 {
  color: rgba(142, 164, 188, 1);
}
.text-p {
  color: rgba(134, 134, 134, 1);
  font-size: 20px;
  text-align: justify;
}
.text-p-center {
  margin-top: 20px;
  text-align: center;
  color: rgba(134, 134, 134, 1);
}
.text-p-sm {
  text-align: center;
  color: rgba(134, 134, 134, 1);
  font-size: 12px;
  margin-top: -10px;
}
.btn1 {
  margin-top: 20px;
  color: #fff;
  font-size: 20px;
  background-color: rgba(241, 136, 137, 1);
  border: 2px dashed #fff;
  border-radius: 50px;
  outline: 3px solid rgba(241, 136, 137, 1);
  padding: 7px 30px;
}
.btn2 {
  margin:20px 0px 0px 27px;
  color: #fff;
  font-size: 20px;
  background-color: rgba(241, 136, 137, 1);
  border: 2px dashed #fff;
  border-radius: 50px;
  outline: 3px solid rgba(241, 136, 137, 1);
  padding: 7px 30px;
}

/* NAVIGATION CSS  */

header {
  background-color: rgba(235, 229, 217, 1);
}
.navbar {
  padding: 10px 30px !important;
}
.navbar-nav {
  margin-left: 20px;
}
.nav-link {
  padding: 10px 15px !important;
  color: rgba(192, 157, 110, 1) !important;
  border-right: 2px solid #fff !important;
}
.nav-item img {
  width: 25px;
  height: 25px;
}
/* NAVIGATION CSS END HERE */

.form {
  text-align: right;
}
.form input {
  width: 100%;
  padding: 10px 20px;
  border: 1px dashed rgba(183, 181, 181, 1);
  border-radius: 5px;
}
.form textarea {
  width: 100%;
  color: rgba(134, 134, 134, 1);
  border: 1px dashed rgba(183, 181, 181, 1);
  padding: 20px;
  border-radius: 5px;
}
/* FORM CSS ENDS HERE */

.cards {
  width: 80%;
  margin: 0px auto;
}
.retailer {
  border: 1px dashed rgba(183, 181, 181, 1);
  border-radius: 5px;
  padding: 50px;
  background-color: rgba(237, 246, 250, 1);
  color: rgba(134, 134, 134, 1);
}
.brand {
  margin-top: 30px;
  padding: 50px;
  border: 1px dashed rgba(183, 181, 181, 1);
  border-radius: 5px;
  background-color: rgba(245, 248, 233, 1);
  color: rgba(134, 134, 134, 1);
}
/* CARDS CSS ENDS HERE */

.do-you {
  padding: 50px;
  background-color: rgba(255, 245, 245, 1);
}
.do-you-content {
  width: 85%;
  margin: 0px auto;
}
.do-you h1 {
  color: rgba(237, 170, 205, 1);
  max-width: 626px;
}
.do-you p {
  color: rgba(109, 172, 234, 1);
  font-size: 24px;
  margin-top: 30px;
  text-decoration: none;
}
.do-you a:link {
  text-decoration: none;
}
.do-you img {
  margin-top: 40px;
}
/* DO-YOU CSS ENDS HERE */

.subscribe {
  width: 80%;
  margin: 0px auto;
  background-color: #fff;
}
.subscribe input {
  margin: 10px 20px;
  border: 1px dashed rgba(183, 181, 181, 1);
  border-radius: 5px;
  padding: 10px 20px;
  margin: 20px;
  font-size: 20px;
}
.subscribe-checkbox #checkbox {
  width: 30px;
  height: 30px;
}
.subscribe-checkbox {
  display: flex;
  align-items: flex-start;
}
.subscribe-checkbox p {
  margin-top: 20px;
}
/* SUBSCRIBE CSS ENDS HERE */

footer {
  color: rgba(134, 134, 134, 1);
  background-color: rgba(235, 229, 217, 1);
  padding: 20px;
}
footer ul li {
  list-style-type: none;
}
.footer-section {
  width: 80%;
  margin: 0px auto;
}
.h4-left {
  text-align: left;
  margin: 0px 0px 20px 30px;
}
.ul-left {
  text-align: left;
  border-right: 2px solid white;
}
.h4-center {
  text-align: center;
  margin: 0px 0px 20px 30px;
}
.ul-center {
  text-align: center;
}
.h4-right {
  text-align: right;
  margin: 0px 0px 20px 30px;
}
.ul-right {
  text-align: right;
}
/* FOOTER CSS ENDS HERE */

@media only screen and (max-width: 991px) {
  .btn1 {
    margin-bottom: 25px;
  }
  footer .h4-center {
    text-align: left;
  }
  footer .h4-right {
    text-align: left;
  }
  footer ul li {
    text-align: left;
  }
}
