* {
  margin: 0px;
  padding: 0px;
  font-family: Inter;
  box-sizing: border-box;
}
@font-face {
  font-family: Inter;
  src: url("../fonts/Inter.ttf");
}
img {
  width: 100%;
}
.text-h2-center {
  color: rgba(142, 164, 188, 1);
  margin: 30px 0px;
  text-align: center;
}
.text-h2 {
  color: rgba(142, 164, 188, 1);
  margin: 20px 0px;
}
.text-h4 {
  color: rgba(142, 164, 188, 1);
}
.text-p {
  color: rgba(134, 134, 134, 1);
  font-size: 20px;
  text-align: justify;
}
.text-p-center {
  margin-top: 20px;
  text-align: center;
  color: rgba(134, 134, 134, 1);
}
.text-p-sm {
  text-align: center;
  color: rgba(134, 134, 134, 1);
  font-size: 12px;
  margin-top: -10px;
}
/* NAVIGATION */

header {
  background-color: rgba(235, 229, 217, 1);
}
.navbar {
  padding: 10px 30px !important;
}
.navbar-nav {
  margin-left: 20px;
}
.nav-link {
  padding: 10px 15px !important;
  color: rgba(192, 157, 110, 1) !important;
  border-right: 2px solid #fff !important;
}
.nav-item img {
  width: 25px;
  height: 25px;
}
/* NAVIGATION CSS ENDS HERE */

.text-1 {
  width: 80%;
  margin: 0px auto;
  text-align: justify;
}
.text-2 {
  width: 80%;
  margin: 0px auto;
  text-align: justify;
}
/* BANNER CSS ENDS HERE */

.idea {
  background-color: rgba(237, 246, 250, 1);
  padding: 30px;
  line-height: 30px;
}
.idea-img {
  width: 80%;
  height: auto;
  margin: 30px;
}
.idea-img img {
  width: 100%;
  height: 100%;
}
/* IDEA CSS ENDS HERE */

.star-img {
  width: 100%;
  height: 500px;
  background-image: url(../images/baby.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.star-content {
  max-width: 487px;
  width: 100%;
  font-size: 30px;
  position: relative;
}
.star-content h1 {
  color: #fff;
  position: absolute;
  top: 100px;
  left: 100px;
}
/* STAR CSS ENDS HERE */

.vision {
  background-color: rgba(237, 246, 250, 1);
  padding: 50px;
}
.vision-content {
  line-height: 30px;
}
.vision-img {
  width: 80%;
  height: auto;
  margin: 30px;
}
/* VISION CSS ENDS HERE */

.do-you {
  padding: 70px;
  background-color: rgba(255, 245, 245, 1);
}
.do-you h1 {
  color: rgba(237, 170, 205, 1);
  max-width: 626px;
}
.do-you p {
  color: rgba(109, 172, 234, 1);
  font-size: 24px;
  margin-top: 30px;
  text-decoration: none;
}
.do-you a:link {
  text-decoration: none;
}
.do-you img {
  margin-top: 40px;
}
/* DO-YOU CSS ENDS HERE */

footer {
  color: rgba(134, 134, 134, 1);
  background-color: rgba(235, 229, 217, 1);
  padding: 50px;
}
footer ul li {
  list-style-type: none;
}
.h4-left {
  text-align: left;
  margin: 0px 0px 20px 30px;
}
.ul-left {
  text-align: left;
}
.h4-center {
  text-align: center;
  margin: 0px 0px 20px 30px;
}
.ul-center {
  text-align: center;
}
.h4-right {
  text-align: right;
  margin: 0px 30px 20px 30px;
}
.ul-right {
  text-align: right;
  margin-right: 30px;
}
/* FOOTER CSS ENDS HERE */

@media only screen and (max-width: 1200px) {
  .idea-img {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 991px) {
  .idea-img {
    margin-top: 0px;
  }
  footer .h4-center {
    text-align: left;
  }
  footer .h4-right {
    text-align: left;
  }
  footer ul li {
    text-align: left;
  }
}
